.containers{
    height: 100vh;
    background-color: #d1411e;
    z-index: -1;
    position: relative;
}

.arrowContainer{
    position: absolute;
    width: 10%;
    height: 20%; 
    top: 0;
    bottom: 0;
    margin: auto;
    cursor:pointer;
}

.left{
    z-index: 20000;
}

.imgContainer{
    width: 100%;
    background: red;
    height: 30%;
    display: flex;
    /* display: none; */
}

/* .imgContainer > .food{
    width: 100%;
    height: 100%;
} */



.text{
    /* position: absolute; */

    z-index: 200;
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 7vw;
}
