.containers{
    height: calc(100vh - 100px) ;
    background-color: #d1411e;
    overflow: hidden ;
}

.arrowContainer{
    position: absolute;
    width: 5%;
    height: 5%; 
    top: 0;
    bottom: 0;
    margin: auto;
    cursor:pointer;
    z-index: 50000;
}

.imgContainer{
    position: relative;
    color: white;
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    text-align: center;
}

.wrapper{
    width: 300vw;
    display: flex;
    transition: 0.5s ease;
}