.containers{
    height: 100vh;
    background-color: #d1411e;
    z-index: -1;
    position: relative;
}

.arrowContainer{
    position: absolute;
    width: 10%;
    height: 20%; 
    top: 0;
    bottom: 0;
    margin: auto;
    cursor:pointer;
}

.left{
    z-index: 20000;
}

.imgContainer{

}

.box{
    /* height */
}